<section class="advantages container">
  <h1 class="advantages__hiden">Advantages</h1>
  <figure class="advantages__figure">
    <picture>
      <source srcset="./images/advantages/icon1@2x.png" media="(min-width: 380px)" />
      <img src="./images/advantages/icon1.png" width="33" height="50" alt="icon1" class="image" />
    </picture>
    <figcaption class="figure-caption">
      <h3 class="figure-caption--heading">721</h3>
      <p class="figure-caption--text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </figcaption>
  </figure>

  <figure class="advantages__figure">
    <picture>
      <source srcset="./images/advantages/icon2@2x.png" media="(min-width: 380px)" />
      <img src="./images/advantages/icon2.png" width="50" height="50" alt="icon2" class="image" />
    </picture>
    <figcaption class="figure-caption">
      <h3 class="figure-caption--heading">16 kg</h3>
      <p class="figure-caption--text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </figcaption>
  </figure>

  <figure class="advantages__figure">
    <picture>
      <source srcset="./images/advantages/icon3@2x.png" media="(min-width: 380px)" />
      <img src="./images/advantages/icon3.png" width="44" height="50" alt="icon3" class="image" />
    </picture>
    <figcaption class="figure-caption">
      <h3 class="figure-caption--heading">84</h3>
      <p class="figure-caption--text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </figcaption>
  </figure>
</section>
