<section class="advantages container">
  <ul class="advantages__list">
    <li>
      <figure class="advantages__figure">
        <picture>
          <source srcset="../images/adavntages/icon1@2x.png" media="(min-width: 380px)" />
          <img
            src="../images/advantages/icon1.png"
            width="33"
            height="50"
            alt="icon1"
            class="advantages--img"
          />
        </picture>
        <figcaption>
          <h3 class="advantages-heading">721</h3>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="advantages__figure">
        <picture>
          <source srcset="../images/advantages/icon2@2x.png" media="(min-width: 380px)" />
          <img
            src="../images/advantages/icon2.png"
            width="50"
            height="50"
            alt="icon2"
            class="advantages--img"
          />
        </picture>
        <figcaption>
          <h3 class="advantages-heading">16 kg</h3>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="advantages--img">
        <picture>
          <source srcset="../images/advantages/icon3@2x.png" media="(min-width: 380px)" />
          <img
            src="../images/advantages/icon3.png"
            width="44"
            height="50"
            alt="icon3"
            class="advantages--img"
          />
        </picture>
        <figcaption>
          <h3 class="advantages-heading">84</h3>
          <p class="adventages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
