
.adventages__list {
  background-color: $lightPinkBgColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 66px;
}
.adventages-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: $darkPinkColor;
}
.adventages-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.74;
}
